<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <ion-item *ngIf="['userRoleIsADMINAGENCE']"  [routerLink]="['/admin']" routerLinkActive="router-link-active">
            <ion-icon name="home-outline"></ion-icon>
          </ion-item>
          <ion-item *ngIf="['userRoleIsUSERAGENCE']"  [routerLink]="['/user']" routerLinkActive="router-link-active">
            <ion-icon name="home-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-auto>
          <img src="./assets/images/Logo MONEY SA 1.png" alt=""><br>
        </ion-col >
        <ion-col col-auto>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="arrow-redo-circle-outline" slot="start"></ion-icon>
    <ion-label>Depot</ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="choix" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="emetteur">
      <ion-label>Emetteur</ion-label>
    </ion-segment-button>
    <ion-segment-button value="beneficiaire">
      <ion-label>Beneficiaire</ion-label>
    </ion-segment-button>
  </ion-segment>
    <form [formGroup]="DepotForm" (ngSubmit)="onSubmit()">
      <ion-grid [ngSwitch]="choix">
          <ion-list justify-content-center *ngSwitchCase="'beneficiaire'">
                <ion-item>
                  <ion-label>Nom et Prenom Beneficiaire</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="nomCompletBenef" type="text" placeholder="le nom complet Beneficiaire" formControlName="nomCompletBenef"  [(ngModel)]="nomCompletBenef"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Telephone Beneficiaire</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="telephoneBenef" type="text" placeholder="telephone Beneficiaire" formControlName="telephoneBenef"  [(ngModel)]="telephoneBenef"></ion-input>
                </ion-item>
          </ion-list>
          <ion-button  type="submit" expand="block">Suivant</ion-button>
          <ion-list justify-content-center *ngSwitchCase="'emetteur'">
                <ion-item>
                  <ion-label>CNI</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input  name="numeroCni" type="text" placeholder="N° cni emeteur" formControlName="numeroCni"  [(ngModel)]="numeroCni"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Nom et Prenom Emetteur</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="nomCompletEmet" type="text" placeholder="le nom complet emeteur" formControlName="nomCompletEmet"  [(ngModel)]="nomCompletEmet"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Telephone</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input name="telephoneEmet" type="text" placeholder="telephone Emeteur" formControlName="telephoneEmet"  [(ngModel)]="telephoneEmet"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Montant</ion-label>
                </ion-item>
                <ion-item>
                  <ion-input #montantFrais name="montant" type="number" (ionChange)="getFrais(montantFrais.value)" placeholder="Montant envoyer"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Frais</ion-label>
                  <ion-input [value]="frais" name="frais" type="number" placeholder="0000"></ion-input>
                  <ion-label>Total</ion-label>
                  <ion-input [value]="montantTotal" name="montantEnvoye" type="number" placeholder="0000" formControlName="montantEnvoye"  [(ngModel)]="montantEnvoye"></ion-input>
                </ion-item>
          </ion-list>
      </ion-grid>
    </form>
</ion-content>
