<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <a [routerLink]="['']">
            <ion-icon name="home-outline"></ion-icon>
          </a>
        </ion-col>
        <ion-col col-auto>
          <img src="./assets/images/Logo MONEY SA 1.png" alt=""><br>
        </ion-col >
        <ion-col col-auto>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
  <ion-item>
    <ion-row>
      <div padding>
        <ion-label>Mon solde disponible</ion-label>
      </div>
      <div padding>
        <ion-row> 
          <ion-col>
            <ion-input name="password">150 000 FCFA</ion-input>
          </ion-col>
          <ion-col col-auto>
            <ion-icon name="eye-off-outline"></ion-icon>  
          </ion-col>
        </ion-row>
      </div>
      <div padding>
        <ion-label >Mise à jour le 22/07/2021 à 13h43</ion-label> 
      </div>
    </ion-row>
  </ion-item>
</ion-header>

<ion-content>

</ion-content>
