<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <ion-item *ngIf="['userRoleIsUSERAGENCE']"  [routerLink]="['/user']" routerLinkActive="router-link-active">
            <ion-icon name="home-outline"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-auto>
          <img src="./assets/images/Logo MONEY SA 1.png" alt=""><br>
        </ion-col >
      </ion-row>
      </ion-grid>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="calculator-outline" slot="start"></ion-icon>
    <ion-label>Calculateur de Frais</ion-label>
  </ion-item>
</ion-header>
<ion-content>
      <ion-grid>
          <ion-list justify-content-center>
            <ion-item>
              <ion-label>Type Transaction</ion-label>
            </ion-item>
            <ion-item>
              <ion-select placeholder="Depot">
                <ion-select-option value="Depot">Depot</ion-select-option>
                <ion-select-option value="Retrait">Retrait</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Montant</ion-label>
            </ion-item>
            <ion-item>
              <ion-input #montant name="montant" type="number" placeholder="saisir le montant"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button  (click)="getFraisMontant(montant.value)" type="button" expand="block">calculer</ion-button>
      </ion-grid>
    <ion-row>
      <ion-col col-auto>
        <ion-item type="button" [routerLink]="['/user']" routerLinkActive="router-link-active">
          <ion-icon name="home-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item type="button" [routerLink]="['/transactions-user']" routerLinkActive="router-link-active">
          <ion-icon name="reload-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item type="button" [routerLink]="['/calculateur-user']" routerLinkActive="router-link-active">
          <ion-icon name="calculator-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-content>
